.App{
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0%;
  padding: 0%;
}

.Sidebar{
  overflow: hidden;
  top: 0;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: darkslategray;
}

#SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

#SidebarList .row{
  width: 100%;
  height: 70px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucia Grande', 'Lucia Sans', Arial, sans-serif;
}

#SidebarList .row:hover{
  cursor: pointer;
  background-color: slategray;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

#SidebarList #active{
  background-color: slategray;
}

.Allstu{
  padding: 20px;
  margin-left: 350px;
}

.Allstu h3{
  font-size: 25px;
}

.Adstu{
  margin-left: 350px;
}

.Adstu .adform{
  padding: 8px;
}

.Adstu h3{
  background-color: steelblue;
}

.home{
  text-align: center;
  font-size: 40px;
  margin-top: 290px;
}